@model Todo.Models.Note

@{
    ViewData["Title"] = "Edit";
}
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<style>
    #qrcode{
            margin: 5px 0 10px 0;
    }
</style>
<h1>Edit</h1>

<h4>Note</h4>
<hr />
<div  class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Uuid" value="@ViewBag.uuid"></input>
            <input type="hidden" asp-for="Email" value="@ViewBag.email"></input>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Contents" class="control-label"></label>
                <input asp-for="Contents" class="form-control" />
                <span asp-validation-for="Contents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" value="@ViewBag.startDate"/>
                <span asp-validation-for="StartDate" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" value="@ViewBag.endDate"/>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    
                    <input id="check" class="form-check-input" onchange="hideshow()"  asp-for="Share"/> @Html.DisplayNameFor(model => model.Share)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (ViewBag.url != "" && ViewBag.url!=null)
{
    <label>QR Code for sharing:</label>
    <div id="qrcode"></div>
}

<script type="text/javascript">
    
    new QRCode(document.getElementById("qrcode"),"@ViewBag.url/Notes/Share/@ViewBag.uuid/");

</script>
<script>
    function hideshow(){
        let elem = document.getElementById("check");
        if (elem.checked){
             document.getElementById("qrcode").style = "display:block";
        }
        else{
            console.log("This should run on load");
            document.getElementById("qrcode").style = "display:none";   
        }
    }

</script>
<script>
    window.onload = ()=>{
        hideshow();
        console.log()
    }
</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>

