@model IEnumerable<Todo.Models.Note>

@{
    ViewData["Title"] = "Index";
}
<style>
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    form label{
        width:276px;
        text-align: left;
        margin: 5px;
    }
    input[type="submit"]{
        margin: 10px;
    }
    
</style>
<h1 style="text-align: center">Your Notes</h1>

<p>
    <a asp-action="Create">Add a New Note</a>
</p>

<form asp-controller="Notes" asp-action="Index" method="get">
    <label>Contains: <input class="form-control form-control-sm" type="text" name="SearchString"/>
        
    </label>
    <label>Tag: <input class="form-control" type="text" name="TagString"/></label>
    <input class="btn btn-primary" type="submit" value="Filter"/>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Share)
            </th>
           
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Share)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
